*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body{
	background: #aa8f66; 
}
.header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	padding:20px 10px;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center; 
	z-index: 100;
}
.logo{
	position: relative;
	font-size: 40px;
	color: #004ba8;
	text-decoration: none;
	font-weight: 600;
	cursor: default;
	opacity: 0;
	animation: slideRight 1s ease forwards;
}
.navbar a{
	display: inline-block;
	position: relative;
	font-size: 20px;
	color:white;
	text-decoration: none;
	font-weight: 600;
	margin-left: 35px;
	transition: .3s;
	opacity: 0;
	animation: slideTop .5s ease forwards;
	animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active{
	color: #004ba8;
}
.description{
	color:white;
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.container{
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: aa8f66;
	grid-template-columns: 1fr 1fr;
	grid: 4rem;
	opacity: 0;
	animation: slideTop .5s ease forwards;
	animation-delay: calc(.2s * var(--i));
}
.group1{
	display: flex;
	gap:5rem;
	flex-direction: column;
}

.group2{
	display: flex;
	gap:10rem;
	flex-direction: column;
}
.title{
	color:#004ba8;
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
.blue{
	color:#004ba8;
	font-weight: 300;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.white{
	color: white;
	font-weight: 600;
	font-size: clamp(2.5rem, 15vw, 7rem);
	text-transform: uppercase;
	display: block;
}
.profile{
	grid-column: 1/-1;
	margin-bottom: 2rem;
}
.profile-container{
	display: flex;
	gap:2rem;
}
.profile-title{
	color:white;
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.profile-description{
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.skill-list{
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.address{
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.colleges{
	color: #004ba8;
}

.shighschool{
	color: #004ba8;
}

.highschool{
	color: #004ba8;
}

.elementary{
	color: #004ba8;
}
@keyframes slideRight{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;

	}
}
@keyframes slideLeft{
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;

	}
}
@keyframes slideTop{
	0%{
		transform: translateY(100px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;

	}
}
@keyframes slideBottom{
	0%{
		transform: translateY(-100px);
		opacity: 0;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;

	}
}